<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Your Email Title</title>
    <style>
        /* Add your custom styles here */
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }


        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
        .header {
            background-color: #000;
            padding: 10px;
            text-align: center;
        }
        .header h1 {
            color: #333333;
        }
        .content {
            padding: 20px;
            background-color: #ffffff;
        }
        .footer {
            text-align: center;
            padding: 10px;
            background-color: #000;
        }
        .footer p{
            color: #fff
        }

    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <img src="data:image/png;base64, <%= logo %>" width="400px">
        <h4 style="color: #fff">Merci pour votre achat</h4>
    </div>
    <div class="content">
        <p>Bonjour,</p>
        <p>Confirmation d'achat</p>
        <p>Nous vous remercions d'avoir effectué votre achat sur notre site. Vous trouverez le lien de téléchargement de la chanson ci-dessous. Pour rappel, voici les termes d'utilisation:</p>
        <%- licence_type %>
        <br>
        <table>
            <thead>
            <tr>
                <th>Image</th>
                <th>Titre</th>
                <th>Prix</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><img src="<%= image_chanson %>" width="80px" height="auto" alt="Image"></td>
                <td><%= titre_chanson %></td>
                <td><%= price %></td>
            </tr>
            <!-- Add more rows as needed -->
            </tbody>
        </table>
        <p>Bonne écoute,</p>
        <p>Créatoké</p>
    </div>
    <div class="footer">
        <p>Suivez-nous sur nos réseaux sociaux: <a href="#">Facebook</a> | <a href="#">Twitter</a></p>
        <p>&copy; 2023 Créatoke. Tous droits réservés.</p>
    </div>
</div>
</body>
</html>
